* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #25293c;
    color: white;
    font-family: "Oswald", sans-serif;
}

.card img {
    height: 50vh;
    border-radius: 15px;
}

.container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 10vh 5vh 5vh 5vh;
    flex-wrap: wrap;
}

#steam img:hover{
     box-shadow: 0 0 20px #066fd1;
}
#spotify img:hover{
     box-shadow: 0 0 20px #29c403;
}
#youtube img:hover{
     box-shadow: 0 0 20px #e40505;
}
#xbox img:hover{
     box-shadow: 0 0 20px #02ad27;
}

header {
    text-align: center;
    padding: 5vh;
}

@media(max-width: 500px) {
    .card {
        margin-top: 10px;
    }
}