* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #25293c;
    color: white;
    font-family: "Oswald", sans-serif;
}

.card img {
    height: 48vh;
    border-radius: 15px;
}

.container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 7vh 3vh 3vh 3vh;
    flex-wrap: wrap;
}

#steam img:hover{
     box-shadow: 0 0 20px #066fd1;
}
#spotify img:hover{
     box-shadow: 0 0 20px #29c403;
}
#youtube img:hover{
     box-shadow: 0 0 20px #e40505;
}
#xbox img:hover{
     box-shadow: 0 0 20px #02ad27;
}
#netflix img:hover{
     box-shadow: 0 0 20px #e40505;
}
#google img:hover{
     box-shadow: 4px 4px 10px rgba(1, 255, 35, 0.966),
              -4px -4px 10px rgb(0, 140, 255),
               -4px -4px 10px rgb(255, 251, 0);
}

header {
    text-align: center;
    padding: 5vh;
}

@media(max-width: 500px) {
    .card {
        margin-top: 10px;
    }
}